@require "form"
@require "field"
@require "input"
@require "input-checkbox"
@require "input-color"
@require "input-file"
@require "input-radio"
@require "input-range"
@require "textarea"
@require "select"
