textarea
  width 100%
  padding 0.75rem 0.75rem 0.5rem
  border-radius 0.5rem
  border 1px solid var(--form-border)
  color var(--foreground)
  background var(--background)
  max-width var(--copy-max-width)
  &:focus
    outline none
    // background var(--form-focus-color)
    border 1px solid var(--accent)
  font-family var(--monospace-font)
  height 4lh
  &.shortest
    height 1lh
  &.shorter
    height 2lh
  &.short
    height 3lh
  &.long
    height 8lh
  &.longer
    height 12lh
  &.longest
    height 16lh