highlight()
  --h2-h6-color var(--foreground)
  --border-color var(--foreground)
  --nav-color var(--foreground)
  --icon-color var(--foreground)

neutral()
  --h1-color var(--foreground)
  --border-color var(--foreground)
