@layer base
  @require reset
  @require normalize

@layer vocabulary
  @require "vocabulary/typography"

@layer universal
  @require "layouts/basic"
  @require typography
  @require layout
  @require navigation
