// default font
html
  font-family var(--copy-font, var(--heading-font, var(--base-font)))

h1, h2, h3, h4, h5, h6
  font-weight bold
  font-family var(--heading-font, var(--base-font))
  min-width var(--heading-min-width, s("min(90vw, %s)", du(1)))

i
  margin-right 0.25rem

h1
  color var(--h1-color)

h2, h3, h4, h5, h6
  color var(--h2-h6-color)

h1
  font-size var(--first-level-heading-font-size)
  line-height var(--first-level-heading-line-height)
h2
  font-size var(--second-level-heading-font-size)
  line-height var(--second-level-heading-line-height)
h3
  font-size var(--third-level-heading-font-size)
  line-height var(--third-level-heading-line-height)

p, ul, ol, blockquote, .copy, input
  color var(--neutral-foreground)
  font-family var(--copy-font, var(--heading-font, var(--base-font)))
  font-size var(--copy-font-size, 1rem)
  line-height var(--copy-line-height, 1.5rem)
  max-width var(--copy-max-width)
  min-width var(--copy-min-width)

h1, h2, h3, h4, h5, h6, p, li, blockquote, .copy, ul
  text-align var(--text-align, left)
  &:not(:first-child)
    margin-top var(--copy-margin, 1em)

.hint
  & > p
    &:before
      display inline-block
      content "Hint: "
      font-weight bold
      margin-right 0.5em
    display inline-block

.main
  text-align var(--text-align, left)

smallest()
  --copy-font-size var(--smallest-copy-font-size)
  --copy-line-height var(--smallest-copy-line-height)
  --caption-font-size var(--smallest-copy-font-size)
  --caption-line-height var(--smallest-copy-line-height)
  --first-level-heading-font-size var(--small-heading-font-size)
  --first-level-heading-line-height var(--small-heading-line-height)
  --second-level-heading-font-size var(--smaller-heading-font-size)
  --second-level-heading-line-height var(--smaller-heading-line-height)
  --third-level-heading-font-size var(--smallest-heading-font-size)
  --third-level-heading-line-height var(--smallest-heading-line-height)

smaller()
  --copy-font-size var(--smaller-copy-font-size)
  --copy-line-height var(--smaller-copy-line-height)
  --caption-font-size var(--smallest-copy-font-size)
  --caption-line-height var(--smallest-copy-line-height)
  --first-level-heading-font-size var(--default-heading-font-size)
  --first-level-heading-line-height var(--default-heading-line-height)
  --second-level-heading-font-size var(--small-heading-font-size)
  --second-level-heading-line-height var(--small-heading-line-height)
  --third-level-heading-font-size var(--smaller-heading-font-size)
  --third-level-heading-line-height var(--smaller-heading-line-height)

small()
  --copy-font-size var(--small-copy-font-size)
  --copy-line-height var(--small-copy-line-height)
  --caption-font-size var(--smaller-copy-font-size)
  --caption-line-height var(--smaller-copy-line-height)
  --first-level-heading-font-size var(--large-heading-font-size)
  --first-level-heading-line-height var(--large-heading-line-height)
  --second-level-heading-font-size var(--default-heading-font-size)
  --second-level-heading-line-height var(--default-heading-line-height)
  --third-level-heading-font-size var(--small-heading-font-size)
  --third-level-heading-line-height var(--small-heading-line-height)

large()
  --copy-font-size var(--large-copy-font-size)
  --copy-line-height var(--large-copy-line-height)
  --caption-font-size var(--default-copy-font-size)
  --caption-line-height var(--default-copy-line-height)
  --first-level-heading-font-size var(--larger-heading-font-size)
  --first-level-heading-line-height var(--larger-heading-line-height)
  --second-level-heading-font-size var(--large-heading-font-size)
  --second-level-heading-line-height var(--large-heading-line-height)
  --third-level-heading-font-size var(--default-heading-font-size)
  --third-level-heading-line-height var(--default-heading-line-height)
  --copy-max-width 60ch

larger()
  --copy-font-size var(--larger-copy-font-size)
  --copy-line-height var(--larger-copy-line-height)
  --caption-font-size var(--large-copy-font-size)
  --caption-line-height var(--large-copy-line-height)
  --first-level-heading-font-size var(--largest-heading-font-size)
  --first-level-heading-line-height var(--largest-heading-line-height)
  --second-level-heading-font-size var(--larger-heading-font-size)
  --second-level-heading-line-height var(--larger-heading-line-height)
  --third-level-heading-font-size var(--large-heading-font-size)
  --third-level-heading-line-height var(--large-heading-line-height)
  --copy-max-width 48ch

largest()
  --copy-font-size var(--largest-copy-font-size)
  --copy-line-height var(--largest-copy-line-height)
  --caption-font-size var(--larger-copy-font-size)
  --caption-line-height var(--larger-copy-line-height)
  --first-level-heading-font-size var(--default-banner-font-size)
  --first-level-heading-line-height var(--default-banner-line-height)
  --second-level-heading-font-size var(--largest-heading-font-size)
  --second-level-heading-line-height var(--largest-heading-line-height)
  --third-level-heading-font-size var(--larger-heading-font-size)
  --third-level-heading-line-height var(--larger-heading-line-height)
  --copy-max-width 32ch