@require "../mixins"

body
  width 100vw
  height 100dvh
  display grid
  grid-template-rows auto 1fr auto
  justify-content center
  justify-items center
  // TODO probably belongs somewhere else
  color var(--primary-foreground)
  background-color var(--primary-background)

  & > header, & > footer
    // TODO why can't this be a percentage?
    width 100vw
    padding 1rem
    
  & > header
    border-block-end 1px solid var(--primary-accent)

    & > nav
      justify-content end


  & > footer
    border-block-start 1px solid var(--primary-accent)
    smallest()