@require "../mixins/typography"

body
  width 100vw
  height 100dvh
  display grid
  grid-template-rows auto 1fr auto
  grid-template-columns 100%

  & > header, & > footer
    inline-size 100%
    display flex
    gap 1rem
    align-items center
    justify-content space-between
    &:empty
      display none


  & > header
    padding 1rem
    border-bottom 1px solid var(--primary-accent)

    .logo
      svg
        height 2rem

  & > main
    overflow auto
    display flex
    flex-flow column
    padding 1rem
    gap 1rem

  & > footer
    padding 1rem
    display flex
    justify-content center
    border-top 1px solid var(--primary-accent)

    smallest()
